# Implementation of LSTM to Motion Classification Application
Implementation of LSTM technique to motion detection application. Developed by James Youngchae Chee.

### 1. Setting Up Environment

In [2]:
import tensorflow as tf
from tensorflow.contrib import rnn
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### 2. Importing Data
This dataset contains fall, swing and still gyro and accelerometer data.

In [3]:
train_data = [pd.read_csv('./data/swing.csv',header=None),
             pd.read_csv('./data/still.csv',header=None)]
test_data = [pd.read_csv('./data/swingtest.csv',header=None),
             pd.read_csv('./data/stilltest.csv',header=None)]

### 3. Examining Data
Each Data has <b>1200</b> dimensions --> Stacked numerous sensor data together
<br>Each Retrieval of sesor data looks like (linear_accel x,y,z, Gyro x,y,z)
<br><b>Number of train_data : 50
<br><b>Number of test_data : 10
    
### Need Better dataset  --> each action data is 10 seconds long which doesn't represents a reliable labeled data

In [14]:
train_data[0].head(2)

,0,1,2,3,4,5,6,7,8,9,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
0,0.016617,0.358795,-1.035721,-0.004248,0.113635,0.046729,-1.263992,0.626968,0.064026,-0.002124,...,3.639145,0.027612,2.485107,0.805005,0.223007,-1.093353,3.568604,0.00000,2.291821,0.781641
1,2.439789,-0.589111,1.827896,-0.011682,-0.004248,0.007434,2.439789,-0.589111,1.827896,-0.011682,...,1.446808,-0.045667,1.305212,0.451355,2.819183,-0.452820,0.934021,-0.04248,0.881470,0.316480

In [15]:
train_data[1].head(2)

,0,1,2,3,4,5,6,7,8,9,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
0,-3.282227,-1.110794,0.673569,3.143555,-2.313062,-0.727478,-3.314667,-1.153244,0.662994,0.104077,...,0.044067,-0.002124,-0.005310,0.004248,-0.001617,0.042175,0.044067,-0.013806,-0.007434,0.003186
1,-0.064117,0.273438,0.307724,-0.023364,-0.062659,0.046729,-7.253113,4.420563,8.765472,-0.192224,...,-0.033951,0.015930,0.012744,-0.011682,-0.038284,0.046951,0.061691,0.031860,-0.066907,0.000000

In [4]:
train_data[0].shape

(50, 1200)

In [5]:
test_data[0].shape

(10, 1200)

### 4. Define Model

In [6]:
# Model Representation
#                        O * W + b -> 2 labels for each image, O[? 6], W[6 2], B[2]
#                       ^ (O: output 6 vec from 6 vec input)
#                       |
#      +-+  +-+       +--+
#      |1|->|2|-> ... |200| time_step_size = lstm_size = 200
#      +-+  +-+       +--+
#       ^    ^    ...  ^
#       |    |         |
#data1:[6]  [6]  ...  [6] input_vec_size = 6
#data2:[6]  [6]  ...  [6]
# ...

# configuration variables
input_vec_size = 6
time_step_size = lstm_size = 200

batch_size = 5 # training batch size
test_size = 10 # validation batch size

def model(X,W,B,lstm_size):
    # X, input shape: (batch_size, input_vec_size, time_step_size)
    # XT, shape: (time_step_size,batch_size,input_vec_size)
    XT = tf.transpose(X,[1,2,0])
    # XR, shape: (time_step_size * batch_size , input_vec_size)
    XR = tf.reshape(XT,[-1,input_vec_size])
    # X_time, each data shape: (batch_size,input_vec_size)
    X_time = tf.split(XR,time_step_size,0)
    
    # make lstm cell with lstm_size
    lstm = rnn.BasicLSTMCell(lstm_size, forget_bias=1.0, state_is_tuple=True)
    
    # Get lstm cell output, time_step_size (200) arrays with lstm_size output: (batch_size, lstm_size)
    outputs, _states = rnn.static_rnn(lstm, X_split, dtype=tf.float32)
    
    return tf.matmul(outputs[-1], W) + B, lstm.state_size

### 5. Reshape input data

In [54]:
trX = np.reshape(np.array([train_data[i].values for i in range(2)]),(100,1200)) # converge two classes of data
teX = np.reshape(np.array([test_data[i].values for i in range(2)]),(20,1200)) # converge two classes of data
trX = np.transpose(np.reshape(trx,(-1,time_step_size,input_vec_size)),[0,2,1]) # reshape trX (-1,input_vec_size,time_step_size)
teX = np.transpose(np.reshape(tex,(-1,time_step_size,input_vec_size)),[0,2,1]) # reshape teX (-1,input_vec_size,time_step_size)
trY = np.append(np.array([[1,0] for _ in range(50)]),np.array([[0,1] for _ in range(50)]),axis=0)
teY = np.append(np.array([[1,0] for _ in range(10)]),np.array([[0,1] for _ in range(10)]),axis=0)

(200,)

In [44]:
print('trX: ',trX.shape)
print('trY: ',trY.shape)
print('teX: ',teX.shape)
print('teY: ',teY.shape)

('trX: ', (100, 6, 200))
('trY: ', (100, 2))
('teX: ', (20, 6, 200))
('teY: ', (20, 2))